* {
  margin: 0;
  padding: 0;
}

.nav-container {
  height: 85px;
  width: 100%;
  position: fixed;
  /**background-image: url("../images/glen_sannox.jpg");**/
  background-color: #5DC5D1;
  background-size: cover;
  z-index: 5;
}

.nav-bar {
  font-family: arial;
  position: static;

  height: 100%;
  width: 500px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  justify-items: center;
  align-items: center;

}

.nav-btn {
  border: black;
  border-style: dotted;
  border-width: thin;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.nav-btn > a {
  text-decoration: none;
  color: black;
  /**background-color: red;**/
}



.page {
  position: relative;
  top: 85px;
}

.splash-container {
  width: 100%;
  height: 250px;
  background-image: url("../images/glen_sannox.jpg");
  background-size: cover;
  z-index: 6;
}

.splash-container .splash-overlay {
  margin: auto;
  width: 225px;
  height: 225px;
  overflow: hidden;
  border: red;
}

.splash-container .splash-overlay h1 {
  position: fixed;
  top: 25%;
  font-family: futura;
  font-size: 30;
  text-transform: uppercase;
  color: black;
  opacity: 0.7;
  border: green;

}
.splash-container .splash-overlay h3 {
  position: static;
  top: 25%;
  font-family: futura;
  font-size: 30;
  text-transform: uppercase;
  color: white;
  opacity: 0.7;
}


.content {
  position: static;
  z-index: 7;

}

.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 45px;
  background-color: #5DC5D1;
  font-family: arial;
}

.footer-container > .copyright {
  position: relative;
  float: right;

  display: inline-block;
  text-align: center;
  background-color: red;
}
